<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AdminMiaw</title>
</head>

<body>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>

      <header class="menu">
        <mat-nav-list>
          <a mat-list-item href="/dashboard">Dashboard</a>
          <a mat-list-item href="/clients">Clients</a>
          <a mat-list-item href="/competences">Compétences</a>
        </mat-nav-list>
      </header>
    </mat-sidenav>

    <mat-sidenav-content>
      <h1>
        {{ title }}
      </h1>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>




</body>

</html>