<h2 *ngIf="!isEditMode">Ajouter le client</h2>
<h2 *ngIf="isEditMode">Modifier le client</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="example-container">
        <mat-form-field>
            <mat-label for="name">Nom</mat-label>
            <input type="text" matInput formControlName="name" name="name" id="name" value="{{ name }}">
        </mat-form-field>
    </div>
    
    <mat-error>
        <span *ngIf="form.get('name').hasError('required')">Le nom est obligatoire.</span>
        <span *ngIf="form.get('name').hasError('minlength')">Le nom doit comporter plus de 2 caractères.</span>
    </mat-error>

    <div class="example-container">
        <mat-form-field>
            <mat-label for="description">Description</mat-label>
            <textarea name="description" matInput formControlName="description" id="description" cols="30" rows="10"></textarea>
        </mat-form-field>
    </div>

    <div class="example-container">
        <mat-form-field>
        <mat-label for="date">Date du projet</mat-label>
        <input matInput formControlName="date" name="date" id="date" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    
    <div class="example-container">
        <mat-form-field>
            <mat-label for="type">Type du projet</mat-label>
            <mat-select name="type" formControlName="type" id="type">
                <mat-option value="site">Site web</mat-option>
                <mat-option value="seo">Référencement</mat-option>
                <mat-option value="design">Webdesign</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <button mat-raised-button color="primary" *ngIf="!isEditMode">Ajouter le client</button>
    <button mat-raised-button color="primary" *ngIf="isEditMode">Modifier le client</button>
</form>